.fullcols  { float : left; width :100%;position : relative; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: antialiased; font-smoothing: antialiased; text-rendering: optimizeLegibility; }
@font-face { font-family: 'PrataRegular'; src: url('fonts/PrataRegular.eot');src: url('fonts/PrataRegular.eot') format('embedded-opentype'),url('fonts/PrataRegular.woff2') format('woff2'),url('fonts/PrataRegular.woff') format('woff'),
url('fonts/PrataRegular.ttf') format('truetype'),url('fonts/PrataRegular.svg#PrataRegular') format('svg'); }

@font-face { font-family: 'RobotoRegular'; src: url('fonts/RobotoRegular.eot');  src: url('fonts/RobotoRegular.eot') format('embedded-opentype'), url('fonts/RobotoRegular.woff2') format('woff2'), url('fonts/RobotoRegular.woff') format('woff'),  url('fonts/RobotoRegular.ttf') format('truetype'),  url('fonts/RobotoRegular.svg#RobotoRegular') format('svg'); }

@font-face {  font-family: 'RobotoBold'; src: url('fonts/RobotoBold.eot');  src: url('fonts/RobotoBold.eot') format('embedded-opentype'),  url('fonts/RobotoBold.woff2') format('woff2'), url('fonts/RobotoBold.woff') format('woff'), url('fonts/RobotoBold.ttf') format('truetype'), url('fonts/RobotoBold.svg#RobotoBold') format('svg'); }

@font-face {
    font-family: 'WorkSansRegular';
    src: url('fonts/WorkSansRegular.eot');
    src: url('fonts/WorkSansRegular.eot') format('embedded-opentype'),
         url('fonts/WorkSansRegular.woff2') format('woff2'),
         url('fonts/WorkSansRegular.woff') format('woff'),
         url('fonts/WorkSansRegular.ttf') format('truetype'),
         url('fonts/WorkSansRegular.svg#WorkSansRegular') format('svg');
}


.PrataRegular { font-family: 'PrataRegular'; }
.RobotoRegular { font-family: 'RobotoRegular'; }
.RobotoBold { font-family: 'RobotoBold'; }
.WorkSansRegular { font-family: 'WorkSansRegular'; } 
.hcpointer { cursor : pointer; }

@media only screen and (max-width:768px) {.fs-xs-11 {font-size : 11px;}.fs-xs-12 {font-size : 12px;}.fs-xs-13 {font-size : 13px;}.fs-xs-14 {font-size : 14px;}  .fs-xs-15 {font-size : 15px;}.fs-xs-16 {font-size : 16px;}.fs-xs-17 {font-size : 18px;}.fs-xs-18 {font-size : 18px;} .fs-xs-19 { font-size : 19px; }.fs-xs-20 { font-size : 20px; }.fs-xs-21 { font-size : 21px; }.fs-xs-22 { font-size : 22px; } .fs-xs-23 { font-size : 23px; }.fs-xs-24 { font-size : 24px; }.fs-xs-25 { font-size : 25px; }.fs-xs-26 { font-size : 26px; } .fs-xs-27 { font-size : 27px; }.fs-xs-28 { font-size : 28px; }.fs-xs-29 { font-size : 29px; }.fs-xs-30 { font-size : 30px; }}

@media only screen and (min-width:769px) and (max-width:1366px) { .fs-lg-9 {font-size : 9px;}.fs-lg-10 {font-size : 10px;}.fs-lg-11 {font-size : 11px;}.fs-lg-12 {font-size : 12px;}.fs-lg-13 {font-size : 13px;}.fs-lg-14 {font-size : 14px;} .fs-lg-15 { font-size : 15px; } .fs-lg-16 { font-size : 16px; } .fs-lg-17 { font-size : 18px; } .fs-lg-18 { font-size : 18px; } .fs-lg-19 { font-size : 19px; } .fs-lg-20 { font-size : 20px; } .fs-lg-21 { font-size : 21px; } .fs-lg-22 { font-size : 22px; } .fs-lg-23 { font-size : 23px; } .fs-lg-24 { font-size : 24px; } .fs-lg-25 { font-size : 25px; } .fs-lg-26 { font-size : 26px; } .fs-lg-27 { font-size : 27px; } .fs-lg-28 { font-size : 28px; } .fs-lg-29 { font-size : 29px; } .fs-lg-30 { font-size : 30px; }.fs-lg-40 { font-size : 40px; } .fs-lg-45 { font-size : 45px; } .fs-lg-50 { font-size :50px; } .fs-lg-56 { font-size :56px; } .fs-lg-60 { font-size : 60px; } }

@media only screen and (min-width:1367px){ .fs-xl-9 {font-size : 9px;}.fs-xl-10 {font-size : 10px;}.fs-xl-11 {font-size : 11px;}.fs-xl-12 {font-size : 12px;}.fs-xl-13 {font-size : 13px;}.fs-xl-14 {font-size : 14px;}.fs-xl-15 {font-size : 15px;}.fs-xl-16 {font-size : 16px;}.fs-xl-17 {font-size : 18px;}.fs-xl-18 {font-size : 18px;} .fs-xl-19 { font-size : 19px; }.fs-xl-20 { font-size : 20px; }.fs-xl-21 { font-size : 21px; }.fs-xl-22 { font-size : 22px; } .fs-xl-23 { font-size : 23px; }.fs-xl-24 { font-size : 24px; }.fs-xl-25 { font-size : 25px; }.fs-xl-26 { font-size : 26px; } .fs-xl-27 { font-size : 27px; }.fs-xl-28 { font-size : 28px; }.fs-xl-29 { font-size : 29px; }.fs-xl-30 { font-size : 30px; }.fs-xl-40 { font-size : 40px; } .fs-xl-50 { font-size :50px; } .fs-xl-56 { font-size : 56px; } .fs-xl-60 { font-size : 60px; } }

.listnone { list-style-type : none; }
.WorkSans { font-family: 'Work Sans'; }
.colorblack { color : #000; } .ttt { color : #333; } .white { color : #fff; } .ccc { color :  #cccccc; }

@media only screen and (max-width:767px)
{
.interiors_design img { width : 100%; height : auto; }	
.numeric_metrics { border: 2px solid #2d73b6; float: left;  padding: 1% 3%; }
.landmarkers, .lux_sqft, .hpy_customers { float : left; width : 100%; padding : 10px; }
.lux_sqft { float : left; border-top : 2px solid #2d73b6; border-bottom : 2px solid #2d73b6; } 
.header {  float : left; width : 100%; padding :0; margin : 0 auto; }
.horizontal_body { float : left; width : 100%; padding :0; margin : 0 auto;  } 
.horizontal_all { float : left; width : 100%; padding :0; margin : 0 auto;  } 
.hsections { float : left; width : 100%; padding :0; margin : 0 auto;  } 
section { float : left; width : 100%; padding :0; margin : 0 auto;  } 
body{ width : 100%;  overflow-x : hidden !important; }
.home_projects .swiper-wrapper { margin: 3em 0 0;  max-height: 100vh !important; }
}

@media only screen and (max-width:480px)
{
.home_projects .swiper-wrapper {  max-height: 60vh !important; }	
}


@media only screen and (min-width:768px) and (max-width:1024px)
{
.lifestyles_captions { right: 0px; left: 5em; position: absolute; z-index: 99; top: 3em; }
.numeric_metrics { border: 2px solid #2d73b6; bottom: 8em; float: left; position: absolute; z-index: 100; padding: 1% 0 1% 0; }
.landmarkers { float : left; }
.lux_sqft { float : left; border-left : 2px solid #2d73b6; border-right : 2px solid #2d73b6; } 
.hpy_customers { float: left;   padding: 0 5em 0 0; }
}

@media only screen and (min-width:1025px)
{
.luxury_homes h1  { margin-top : 7em; }	
.luxury_homes h1 span, .interiors_design h1 span { float : left; width : 100%; }
.interiors_design h1 { margin-top : 4em; }	
.interior_galleryleft img { margin-top : 7em; }	
.lifestyles_captions { right: 0px; left: 10em; position: absolute; z-index: 99; top: 15em; }
.about_baashyam h1 { margin-top : 4em; }
.copyrights p span { float : left; width : 100%; }
.numeric_metrics { border: 2px solid #2d73b6; top : 28em; float: left; position: absolute; z-index: 100; padding: 1% 0 1% 0; width :80%; }
.landmarkers { float : left; }
.lux_sqft { float : left; border-left : 2px solid #2d73b6; border-right : 2px solid #2d73b6; } 
.hpy_customers { float: left; padding: 0; }
.col_height  { height : 100vh !important;  }
.col_width  {  width : auto; } 
}

@media only screen and (min-width:768px)
{
 body{ height: 1250vh;  overflow-x : hidden; }
.horizontal_body{ height: 100vh; width: 100vw; position: fixed; }
.horizontal_all{ display: flex; }
.hscroller{ height: 100vh; width: 100vw; display: inline;  float: left; }
.header { background: #e6e6e6; float: left; margin: 0 auto; padding: 10px 0;  position: fixed; width: 100vw; z-index: 100; }
.menus_holder { }
.menus_holder ul { float: right;  margin: 0 auto;  padding: 0;  width: auto; }
.menus_holder ul li {  float: left; list-style-type: none;  margin: 0 auto; padding: 0 1em; }
.menus_holder ul li:last-child { padding-right :0; }
.menus_holder ul li a { color : #000000; font-size : 18px; font-family: 'WorkSansRegular';  }
}

.interiors_design h2  { }
.interiors_design h2 a, .lifestyle_amenities h2 a, .about_baashyam h2 a { color: #1362ad; float: left; }
.interiors_design h2 span, .lifestyle_amenities h2 span, .about_baashyam h2 span  { border: 2px solid #1362ad;  float: left; padding: 10px 30px; }
.lifestyle_amenities h2 { }
.luxury_homes p, .interiors_design p, .lifestyle_amenities p, .about_baashyam p { line-height : 30px; }
.footer { background : #303131; }
.footer {}
.footer ul {}
.footer ul li {}
.footer .footer_socialicons ul li { display: inline-block; text-align : center; } 
.numeric_metrics .counters { float: left; text-align: center; width: 230px; } 
.numeric_metrics .ncaptions { float: left; text-align: center; width: 100%; } 
.home_projects .swiper-container-vertical .swiper-pagination-bullets { left : 10em !important; top : 10em; }
.home_projects .swiper-pagination-bullets span { margin : 5px !important; }
.home_projects .swiper-pagination-bullet { float : left; clear : both; }
.row { margin : 0 !important; padding : 0 !important; }
.video_slider { } 
.luxury_homes  { }
.home_projects  { }
.luxury_homes  { }
.interiors_design  { }
.lifestyle_amenities  { }
.about_baashyam  { }
.scroll-container-horizontal { }
.luxury_homes img:hover { background : #000; opacity:.5; filter:alpha(opacity=50); }
.footer_holder { background : #303131; float : left; width : 100%; }
.footer_menus { margin: 0 auto; padding: 0 0 10px 0; }
.footer_menus h2 { padding :0 0 5px 0; }
.footer_menus ul { padding :0; margin : 0 auto; }
.footer_menus ul li { list-style-type : none; }
.footer_menus ul.social_icons{    float: left; text-align : center; }
.footer_menus ul.social_icons li { display : inline-block;   margin: 10px auto; }
.footer_menus ul li a { }

