/*!
Theme Name: baashyaam
Theme URI: http://socialbeat.in/
Author: socialbeat.in
Author URI: http://socialbeat.in/
Description: Developed by socialbeat for Baashyam Group
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: baashyaam
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

baashyaam is based on Underscores http://socialbeat.in/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}


#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
   color: #000000;
    font-family: 'WorkSansRegular';
    font-size: 18px;
  text-decoration: none;
  padding : 10px;

  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #1362AD;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #1362AD;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: auto;
}
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 190px;
  color: #fff;
    font-family: 'WorkSansRegular';
    font-size: 15px;
  
  background: #1362AD;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}


.fullcols  { float : left; width :100%;position : relative; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: antialiased; font-smoothing: antialiased; text-rendering: optimizeLegibility; }
@font-face { font-family: 'PrataRegular'; src: url('fonts/PrataRegular.eot');src: url('fonts/PrataRegular.eot') format('embedded-opentype'),url('fonts/PrataRegular.woff2') format('woff2'),url('fonts/PrataRegular.woff') format('woff'),
url('fonts/PrataRegular.ttf') format('truetype'),url('fonts/PrataRegular.svg#PrataRegular') format('svg'); }

@font-face { font-family: 'RobotoRegular'; src: url('fonts/RobotoRegular.eot');  src: url('fonts/RobotoRegular.eot') format('embedded-opentype'), url('fonts/RobotoRegular.woff2') format('woff2'), url('fonts/RobotoRegular.woff') format('woff'),  url('fonts/RobotoRegular.ttf') format('truetype'),  url('fonts/RobotoRegular.svg#RobotoRegular') format('svg'); }

@font-face {  font-family: 'RobotoBold'; src: url('fonts/RobotoBold.eot');  src: url('fonts/RobotoBold.eot') format('embedded-opentype'),  url('fonts/RobotoBold.woff2') format('woff2'), url('fonts/RobotoBold.woff') format('woff'), url('fonts/RobotoBold.ttf') format('truetype'), url('fonts/RobotoBold.svg#RobotoBold') format('svg'); }

@font-face {
    font-family: 'WorkSansRegular';
    src: url('fonts/WorkSansRegular.eot');
    src: url('fonts/WorkSansRegular.eot') format('embedded-opentype'),
         url('fonts/WorkSansRegular.woff2') format('woff2'),
         url('fonts/WorkSansRegular.woff') format('woff'),
         url('fonts/WorkSansRegular.ttf') format('truetype'),
         url('fonts/WorkSansRegular.svg#WorkSansRegular') format('svg');
}


.PrataRegular { font-family: 'PrataRegular'; }
.RobotoRegular { font-family: 'RobotoRegular'; }
.RobotoBold { font-family: 'RobotoBold'; }
.WorkSansRegular { font-family: 'WorkSansRegular'; } 
.hcpointer { cursor : pointer; }

@media only screen and (max-width:768px) {.fs-xs-11 {font-size : 11px;}.fs-xs-12 {font-size : 12px;}.fs-xs-13 {font-size : 13px;}.fs-xs-14 {font-size : 14px;}  .fs-xs-15 {font-size : 15px;}.fs-xs-16 {font-size : 16px;}.fs-xs-17 {font-size : 18px;}.fs-xs-18 {font-size : 18px;} .fs-xs-19 { font-size : 19px; }.fs-xs-20 { font-size : 20px; }.fs-xs-21 { font-size : 21px; }.fs-xs-22 { font-size : 22px; } .fs-xs-23 { font-size : 23px; }.fs-xs-24 { font-size : 24px; }.fs-xs-25 { font-size : 25px; }.fs-xs-26 { font-size : 26px; } .fs-xs-27 { font-size : 27px; }.fs-xs-28 { font-size : 28px; }.fs-xs-29 { font-size : 29px; }.fs-xs-30 { font-size : 30px; }}

@media only screen and (min-width:769px) and (max-width:1919px) { .fs-lg-9 {font-size : 9px;}.fs-lg-10 {font-size : 10px;}.fs-lg-11 {font-size : 11px;}.fs-lg-12 {font-size : 12px;}.fs-lg-13 {font-size : 13px;}.fs-lg-14 {font-size : 14px;} .fs-lg-15 { font-size : 15px; } .fs-lg-16 { font-size : 16px; } .fs-lg-17 { font-size : 18px; } .fs-lg-18 { font-size : 18px; } .fs-lg-19 { font-size : 19px; } .fs-lg-20 { font-size : 20px; } .fs-lg-21 { font-size : 21px; } .fs-lg-22 { font-size : 22px; } .fs-lg-23 { font-size : 23px; } .fs-lg-24 { font-size : 24px; } .fs-lg-25 { font-size : 25px; } .fs-lg-26 { font-size : 26px; } .fs-lg-27 { font-size : 27px; } .fs-lg-28 { font-size : 28px; } .fs-lg-29 { font-size : 29px; } .fs-lg-30 { font-size : 30px; }.fs-lg-40 { font-size : 40px; } .fs-lg-45 { font-size : 45px; } .fs-lg-50 { font-size :50px; } .fs-lg-56 { font-size :56px; } .fs-lg-60 { font-size : 60px; } }

@media only screen and (min-width:1920px){ .fs-xl-9 {font-size : 9px;}.fs-xl-10 {font-size : 10px;}.fs-xl-11 {font-size : 11px;}.fs-xl-12 {font-size : 12px;}.fs-xl-13 {font-size : 13px;}.fs-xl-14 {font-size : 14px;}.fs-xl-15 {font-size : 15px;}.fs-xl-16 {font-size : 16px;}.fs-xl-17 {font-size : 18px;}.fs-xl-18 {font-size : 18px;} .fs-xl-19 { font-size : 19px; }.fs-xl-20 { font-size : 20px; }.fs-xl-21 { font-size : 21px; }.fs-xl-22 { font-size : 22px; } .fs-xl-23 { font-size : 23px; }.fs-xl-24 { font-size : 24px; }.fs-xl-25 { font-size : 25px; }.fs-xl-26 { font-size : 26px; } .fs-xl-27 { font-size : 27px; }.fs-xl-28 { font-size : 28px; }.fs-xl-29 { font-size : 29px; }.fs-xl-30 { font-size : 30px; }.fs-xl-40 { font-size : 40px; } .fs-xl-50 { font-size :50px; } .fs-xl-56 { font-size : 56px; } .fs-xl-60 { font-size : 60px; } }

.listnone { list-style-type : none; }
.WorkSans { font-family: 'Work Sans'; }
.colorblack { color : #000 !important; } .ttt { color : #333 !important; } .white { color : #fff !important; } .ccc { color :  #cccccc !important; }

@media only screen and (max-width:767px)
{
.interiors_design img { width :auto; height : auto; }	
.numeric_metrics { border: 2px solid #2d73b6; float: left;  padding: 1% 3%; }
.landmarkers, .lux_sqft, .hpy_customers { float : left; width : 100%; padding : 10px; }
.lux_sqft { float : left; border-top : 2px solid #2d73b6; border-bottom : 2px solid #2d73b6; } 
.header {  float : left; width : 100%; padding :0; margin : 0 auto; }
.horizontal_body { float : left; width : 100%; padding :0; margin : 0 auto;  } 
.horizontal_all { float : left; width : 100%; padding :0; margin : 0 auto;  } 
.hsections { float : left; width : 100%; padding :0; margin : 0 auto;  } 
section { float : left; width : 100%; padding :0; margin : 0 auto;  } 
body, .horizontal_body, .horizontal_all, .hsections, .hscroller { width : 100%;  overflow-x : hidden !important; }
.home_projects .swiper-wrapper { padding:  0;  max-height: 100vh !important; }
.swiper-slide img  {  height: auto; width: 100%; }
.interiors_design img { max-width : 100%; height : auto;  }
.home_projects .swiper-pagination { top : 6% !important; }
.banner_captions {  padding: 0 30px;  position: absolute;  top: 0em; }
.bc_holder { float : left; width :100%; }
.banner_captions .bigtitle  { float: left; width: auto; border-right: 1px solid #1362ad; line-height: 25px;  padding: 0 10px 0 0; }
.banner_captions .smalltitle {  float: left;  width: auto; padding: 0 0 0 10px; }
.bc_holder h2 { float : left; width :100%; }
.home_projects .swiper-pagination { clear : none; left: 0 !important; padding: 0 14px 0 0;  right: 10px !important; text-align: right; top: 6% !important; width : auto; }
.about_baashyam img.largeDP { display : inline-block !important; }
.numeric_metrics {  width: 70%; margin: 0 15%; }
.home_projects h2 span { padding : 0 !important; }
.bc_holder { display : none; }
.numeric_metrics .counters { float: left; text-align: center; width: 100%; }
}

@media only screen and (max-width:420px)
{
.banner_captions .bigtitle  {  border-right: 0 none !important;  padding: 0 0 10px !important; }
.banner_captions .smalltitle { border-right: 0 none !important;  padding: 0 0 10px !important; }
.home_projects h2  { padding: 0 !important;	 }
.home_projects h2 span { margin-top : 3%; 	 }
}

@media only screen and (max-width:480px)
{
.home_projects .swiper-wrapper {  max-height: 50vh !important; }	
}


@media only screen and (min-width:768px) and (max-width:1024px)
{
.lifestyles_captions { right: 0px; left: 5em; position: absolute; z-index: 99; top: 3em; }
.numeric_metrics { border: 2px solid #2d73b6; bottom: 8em; float: left; position: absolute; z-index: 100; padding: 1% 0 1% 0; }
.landmarkers { float : left; }
.lux_sqft { float : left; border-left : 2px solid #2d73b6; border-right : 2px solid #2d73b6; } 
.hpy_customers { float: left;   padding: 0 5em 0 0; }

}

@media only screen and (min-width:1025px)
{
.luxury_homes h1  { margin-top : 7em; }	
.luxury_homes h1 span, .interiors_design h1 span { float : left; width : 100%; }
.interiors_design h1 { margin-top : 4em; }	
.interior_galleryleft img { margin-top : 2em;  width : auto; max-width : auto; }	
.lifestyles_captions { right: 0px; left: 0em; position: absolute; z-index: 99; top: 15em; }
.about_baashyam h1 { margin-top : 4em; }
.copyrights p span { float : left; width : 100%; }
.numeric_metrics { border: 2px solid #2d73b6; top : 28em; float: left; position: absolute; z-index: 100; padding: 1% 0 1% 0; width : auto; }
.landmarkers { float: left; text-align: center; width: 15em; }
.lux_sqft {float : left; border-left : 2px solid #2d73b6; border-right : 2px solid #2d73b6; text-align: center; width: 20em;} 
.hpy_customers { float: left; text-align: center; width: 15em;  padding: 0; }
.col_height  { height : 93vh !important;  }
.col_width  {  width : auto; } 
.swiper-slide img  { /*  height: 100vh; */ max-width: 100%; width: 100%; height : auto; }
.aboutbshy { background : #303131; }
.lgcolheight  { height : 93vh !important; }
.container-fluid { padding-left: 50px !important; padding-right: 50px !important; }
}

@media only screen and (max-width:1399px)
{
.largeDP { display : block !important; }
.bigDP { display : none !important; }
}

@media only screen and (min-width:768px) and (max-width:1399px){ body{ height: 1275vh;  }	}

@media only screen and (min-width:1400px)
{
body{ height: 1200vh;  }	
.lifestyles_gallery, .lifestyles_gallery img { float : left; width : 100%; height : auto; }	
.horizontal_body { top : 50px !important; }
.lgcolheight  { height : auto !important; }
.numeric_metrics { top : 35em !important; }
.footer_menus { padding: 1em 0 !important; }
.largeDP { display : none !important; }
.bigDP { display : block !important; }
.interidesign_gallery img { width : 100%; height : auto;  }
}

@media only screen and (min-width:1800px)
{
.footer_menus { padding: 2em 0 !important; }
}

@media only screen and (min-width:768px)
{
 body{ overflow-x : hidden; }
.horizontal_body{ height: 100vh; width: 100vw; position: fixed; top: 7vh; }
.horizontal_all{ display: flex; }
.hscroller{ height: 100vh; width: 100vw; display: inline;  float: left; }
.header { background: #e0e0e0; float: left; margin: 0 auto; padding: 10px 0;  position: fixed; width: 100vw; z-index: 100; }
.menus_holder { }
.menus_holder ul { float: right;  margin: 0 auto;  padding: 0;  width: auto; }
.menus_holder ul li {  float: left; list-style-type: none;  margin: 0 auto; padding: 0 1em; }
.menus_holder ul li:last-child { padding-right :0; }
.menus_holder ul li a { color : #000000; font-size : 18px; font-family: 'WorkSansRegular';  }
.banner_captions { position: absolute; top: 6em;  left: 7em; }
.banner_captions .bigtitle  { float: left; width: auto; border-right: 1px solid #1362ad; line-height: 25px;  padding: 0 10px 0 0; }
.banner_captions .smalltitle {  float: left;  width: auto; padding: 0 0 0 10px; }
.home_projects .swiper-container-vertical .swiper-pagination-bullets { left : 3em !important; top : 10em; width: 3%; }
.home_projects .swiper-pagination-bullet { float : left; clear : both; }
.footer_holder { height : 100vh !important; }
}

.interiors_design h2  { }
.interiors_design h2 a, .lifestyle_amenities h2 a, .about_baashyam h2 a, .home_projects h2 a { color: #1362ad; float: left; padding: 10px 30px;  }

.interiors_design h2 span span, .lifestyle_amenities h2 span span, .about_baashyam h2 span span  { border: 2px solid #1362ad;  float: left; }
.home_projects h2 span span { border: 2px solid #1362ad;  float: left; padding: 0; }
.lifestyle_amenities h2 { }
.luxury_homes p, .interiors_design p, .lifestyle_amenities p, .about_baashyam p  { line-height : 30px; }
.footer { background : #303131; }
.footer {}
.footer ul {}
.footer ul li {}
.footer .footer_socialicons ul li { display: inline-block; text-align : center; } 
.numeric_metrics .counters {   } 
.numeric_metrics #counter { float: left; text-align: center; width: 100%; height: 60px;  padding: 5px 0; clear : both; } 
.numeric_metrics .ncaptions { float: left; text-align: center; width: 100%; } 

.home_projects .swiper-pagination-bullets span { margin : 5px !important; background: transparent;  border: 1px solid #1362ad; opacity: 1; filter: Alpha(opacity=100); }
.home_projects .swiper-container .swiper-pagination-bullet-active { border: 2px solid #1362ad;}
.home_projects .swiper-pagination { float : left; clear : none; }
.row { margin : 0 !important; padding : 0 !important; }
.lifestyles_captions h1 span { float : left; width :100%;  }
.video_slider { } 
.luxury_homes  { }
.home_projects  { }
.luxury_homes  { }
.interiors_design  { }
.lifestyle_amenities  { }
.about_baashyam  { }
.scroll-container-horizontal { }
.luxury_homes img:hover { background : #fff; opacity:.5; filter:alpha(opacity=50); }
.footer_holder { background : #303131; float : left; width : 100%; }
.footer_menus { margin: 0 auto; padding: 0 0 10px 0; }
.footer_menus h2 { padding :0; margin : 0 auto; }
.footer_menus ul { padding :0; margin : 0 auto; }
.footer_menus ul li { list-style-type : none; }
.footer_menus ul.social_icons{    float: left; text-align : center; }
.footer_menus ul.social_icons li { display : inline-block;   margin: 10px auto; }
.footer_menus ul li a { }
.swiper-slide img { cursor : pointer; }
.about_baashyam img { }
.video_slider video { max-width : 100%; width : 100%; height : auto;  }

/* Button hover effects  */
.highlight { display: inline-block; position: relative; background: #fff;}
.highlight:hover{ background : #fff; border : 1px solid #9ebedd; }
.highlight a:hover { text-decoration : none; }
.highlight::before, .highlight::after{ content:""; width: 0; height: 2px;  position: absolute; transition: all 0.2s linear;  background: #fff;  border : 1px solid #9ebedd; }
.highlight span::before, .highlight span::after{content:""; width:2px; height:0; position: absolute; transition: all 0.2s linear; background: #fff;   border : 1px solid #9ebedd; }
.highlight:hover::before, .highlight:hover::after{ width: 100%;  }
.highlight:hover span::before, .highlight:hover span::after{ height: 100%; }
.highlight::before{ left: 50%; top: 0; transition-duration: 0.4s; }
.highlight::after{ left: 50%; bottom: 0; transition-duration: 0.4s; }
.highlight span::before{ left: 0; top: 50%; transition-duration: 0.4s; }
.highlight span::after{ right: 0; top: 50%; transition-duration: 0.4s; }
.highlight:hover::before, .highlight:hover::after{ left: 0;  }
.highlight:hover span::before, .highlight:hover span::after{ top: 0; }
.video_slider .video { height: 100% !important; margin: -12% 0 0 0;  position: relative;  float: left;  width: 100%; }

